<div class="teacher-view">
    <div class="row w-100 m-0">
      <div class="header-wrapper py-4 w-100 m-0 row justify-content-center">
  
        <div class="col-6">
          <h1>Help Dashboard</h1>
          <hr>
        </div>
      </div>
    </div>
    <div class="content mx-5 bg-white h-50 pb-5">
        <div class="row w-100 pt-5 m-0 pb-3">
            <div class="w-100 alert-response"></div>
            <div class="col-2"></div>
            <div class="course-help-button col-3">
                <app-course-help></app-course-help>
            </div>
            <div class="col-0"></div>
            <div class="assignment-button col-3">
                <app-assignment-help></app-assignment-help>
            </div>
            <div class="col-0"></div>
            <div class="assignment-button col-3">
                <app-grade-help></app-grade-help>
            </div>
        </div>
        <div class="h4 text-center">Learn more!</div>
        <div class = "row panel d-flex justify-content-center vid">
            <iframe class="view" src="https://www.youtube.com/embed/USudGgGV2VE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

</div>
