.boxed{
	background-color: #0063A1;
	color: white;
	font-size: 25px;
	border-radius: 20px;
	width: 80%;
	text-align: left;
	padding-left: 40px;
	border: 20px solid #0063A1;
}

.graph{
	border-radius: 20px;
}