<div class="teacher-view" *ngIf="section && course">
  <div class="row">
    <div class="col-12">
      <h1>{{CourseSection.CourseName}} - {{CourseSection.SectionName}}</h1>
      <hr class="m-0">
    </div>
  </div>
  <div class="row">
      <div class="w-100 form-col">
          <div class="tab-content pt-3">
            <div id="section-manager w-100">

<!--              <div class="container">-->
<!--                <h1 class="header font-weight-bold py-1">Section Management</h1>-->
<!--                <hr class="m-0">-->
<!--                <div class="row mb-2 pt-2" *ngIf="!editToggle">-->
<!--                  <div class="col h2 text-center section-name font-weight-bold">{{CourseSection.CourseName}} - {{CourseSection.SectionName}}</div>-->
<!--                </div>-->

<!--                <form id="editForm" [formGroup]="sectionForm" (ngSubmit)="editSection()" class="row mb-2" *ngIf="editToggle">-->
<!--                    <div class="col h2 text-center section-name font-weight-bold">{{CourseSection.CourseName}} - -->
<!--                      <input type="text" class="section-edit" formControlName="section_number" placeholder="{{CourseSection.SectionName}}" required>-->
<!--                      <button [disabled]="!sectionForm.valid" type="submit" class="button button-block px-1 py-0 ml-2"><i id="checkMark" class="fa fa-check" (click)=toggleEdit()></i></button>-->
<!--                    </div>-->
<!--                </form>-->

<!--              </div>-->


              <div class="row bg-white pt-5 student-table-wrapper pb-5 mx-5">
                <div class="container">
                  <div class="alert-response"></div>
                  <div class="row w-100 pb-5 justify-content-center" *ngIf="!students || students.length == 0">
                    <div class="h1 text-center">You have no students enrolled in {{course.name}} - {{section.section_number}}</div>
                    <hr class="m-0 border w-100"/>
                  </div>
                  <div class="row w-100 pb-5 justify-content-center" *ngIf="students && students.length !== 0">
                    <div class="h1 text-center">Students in {{course.name}} - {{section.section_number}}</div>
                    <hr class="m-0 border w-100"/>
                  </div>
                  <div class="row w-100">
                    <div class="col-4">

                        <!-- This is the new thing -->
                        <form [formGroup]="activeSectionForm" class="col-md-2" style="position:relative; width: 100%;">
                            <select class="form-control" id="sortStudents" formControlName="currentSection" (change)="updateSection($event.target.value)">
                                                      <option hidden value="" disabled selected> Select A Course and Section </option>
                                <option *ngFor="let CourseSection of this.allList" value="{{CourseSection.SectionId}}" selected = "true">{{CourseSection.CourseName}} - {{CourseSection.SectionName}}</option>
                            </select>
                        </form>


                    </div>

                    <div class="col-3 h4 text-right">
                        <div class="pointer" (click)="toggleEdit()"><i class="fa fa-edit"></i> Edit Section </div>
                    </div>
                    <div class="col-3 h4 text-right">
                        <div class="pointer" (click)="deleteSection()"><i class="fa fa-times"></i> Delete Section </div>
                    </div>
                    <div class="col-2 h4 text-right">
                        <div class="pointer" (click)="back()"><i class="fa fa-arrow-left"></i> Go Back </div>
                    </div>
                  </div>
                  <br>

                  <!-- Modifications -->
                  <div> 
                    <tr> &nbsp; &nbsp; &nbsp; &nbsp;
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newStudentModal" data-whatever="@mdo" style="padding:1ch;">Create student account</button></tr> 
                    <br><div class="modal fade" id="newStudentModal" tabindex="-1" role="dialog" aria-labelledby="newStudentModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newStudentModalLabel">Create student account</h5>
                            <button id="close-modal-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                            <form autocomplete="off" [formGroup]="studentForm1" (ngSubmit)="onSubmit();">
                              <div id="signup" class="container">   
                                <hr/>
                                <div class="signup-row row justify-content-center">
                                  <div class="form-wrap col-10">
                                    <div class="field-wrap row">
                                      <label class="col-6" style="width: auto;">
                                        Name<span class="req"> *</span>
                                      </label>
                                      <input class="col-6" type="text" formControlName="name" required autocomplete="off" placeholder="Student's full name"/>
                                    </div>
                    
                                    <div class="field-wrap row">
                                      <label class="col-6" style="width: auto;">
                                        Student ID<span class="req"> *</span>
                                      </label>
                                      <input class="col-6" type="text" id="testing" formControlName="username" required autocomplete="off" placeholder="Username"/>
                                    </div>
                                
                                    <div class="field-wrap row">
                                      <label class="col-6">
                                        Preferred Name
                                      </label>
                                      <input class="col-6" type="text" formControlName="preferred_name" autocomplete="off" placeholder="Preferred name"/>
                                    </div>
                    
                                    <div class="field-wrap row">
                                      <label class="col-6">
                                        Email Address<span class="req"> *</span>
                                      </label>
                                      <input class="col-6" type="email" formControlName="email" autocomplete="off"  placeholder="Email"/>
                                    </div>
                                    <div class="field-wrap row">
                                      <label class="col-6">
                                        Password<span class="req"> *</span>
                                      </label>
                                      <input class="col-6" type="password" formControlName="pswd" required autocomplete="off"/>
                                      
                                    </div>

                                    
                                    <!-- <div class="button-wrap row justify-content-center">
                                      <button type="submit" class="button button-block">Create Account</button> 
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                              
                            

                            <!-- <div class="modal-footer" style="column-width: 0px"> -->
                            
                              
                                <button type="submit" id="btnClosePopup" [disabled]="!studentForm1.valid" class="btn btn-primary" style="float: right;">Create Account</button>
                              
                          </form>
                        </div>
                    
                    </div>
                  </div>
                      
                  </div>  
                    
                  <div>
                  <div class="row w-100 px-5 pt-1">

                    <br> <br>
                      <br><table class="w-100">
                          <div *ngIf="!selectedStudent && getTutorialSubStatus() == 4" [popper]="pop"
                          [popperShowOnStart]="true"
                          [popperTrigger]="'none'"
                          [popperPlacement]="'top'"
                          [popperHideOnClickOutside]="false">
                          <popper-content #pop>
                            <div style="width: 250px">
                                  <p>Welcome to Section Management. To add a student to the section, <b>click on the search bar and begin typing in the student's username.</b> When the user name is visible, select it.</p>
                            </div>
                            
                          </popper-content>
                          </div>
                          
                          <tr>
                            <th class="text-white h2 text-center">Username</th>
                            <th class="text-white h2 text-center">Name</th>
                            <th class="text-white h2 text-center">Preferred Name</th>
                            <th class="text-white h2 text-center">Email</th>
                            <th class="text-white h2 text-center">Helper</th>
                            <th class="text-white h2 text-center">Action</th>
                          </tr>
                          <tr *ngFor="let student of students">
                              <td class="h4 text-center">{{ student.username }}</td>
                              <td class="h4 text-center">{{ student.name }}</td>
                              <td class="h4 text-center">{{ student.preferred_name }}</td>
                              <td class="h4 text-center">{{ student.email }}</td>
                              <td *ngIf = "student.helper == 2" class="h4 text-center">
                                <select id="helper-type" (change)="updateHelperRole($event, student.id)">
                                  <option value="1">Non-Helper</option>
                                  <option value="2" selected>Helper</option>
                                </select></td>
                              <td *ngIf = "student.helper == 1" class="h4 text-center">
                                <select id="helper-type" (change)="updateHelperRole($event, student.id)">
                                  <option value="1" selected>Non-Helper</option>
                                  <option value="2">Helper</option>
                                </select></td>
                              <td class="text-center"><a href="javascript:void(0)" class="delete-student" (click)="deleteStudentFromSection(student.id)"><i class="fa fa-times"></i></a></td>
                              
                          </tr>

                         
                          <tr class="add-student-row">
                                
                                
                              <td class="h4 text-center">
                                <form [formGroup]="studentForm">
                                  <input type="text" id="list1" list="username" placeholder="Username" formControlName="username"> <br>
                                  <datalist id="username">
                                    <option *ngFor="let s of potentialStudents" [value]="s.username">{{s.username}}</option>
                                  </datalist>
                                </form>
                              </td>
                              <td class="text-white h4 text-center" *ngIf="selectedStudent">{{selectedStudent.name}}</td>
                              <td class="text-white h4 text-center" *ngIf="selectedStudent">{{selectedStudent.preferred_name}}</td>
                              <td class="text-white h4 text-center" *ngIf="selectedStudent">{{selectedStudent.email}}</td>
                              <td class="text-white h4 text-center" *ngIf="selectedStudent"><label for="helper-type"></label>
                                <select onChange="" name="helper" id="helper-type">
                                  <option value="1">Non-Helper</option>
                                  <option value="2">Helper</option>
                                </select></td>
                              <td class="text-center" *ngIf="selectedStudent"><a href="javascript:void(0)" class="text-white" (click)="addStudentToSection(selectedStudent.id); setTutorialStatus(getTutorialStatus(),5)"><i class="fa fa-check"></i></a>
                                <div *ngIf="getTutorialStatus() == 1 && getTutorialSubStatus() != 5" [popper]="pop2"
                                  [popperShowOnStart]="true"
                                  [popperTrigger]="'none'"
                                  [popperPlacement]="'bottom'"
                                  [popperHideOnClickOutside]="false">
                                  <popper-content #pop2>
                                    <div style="width: 250px">
                                          <p>To finish adding the student<b> click on the check under "Action"</b></p>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="setTutorialStatus(1,5)">Skip</button>
                                    </div>
                                  </popper-content>
                                </div>
                              </td>
                              <td *ngIf="!selectedStudent"></td>
                              <td *ngIf="!selectedStudent"></td>
                              <td *ngIf="!selectedStudent"></td>
                              <td *ngIf="!selectedStudent"></td>
                              <td *ngIf="!selectedStudent"></td>
                          </tr>
                        </table>
                  </div>
            </div>
          </div>
          </div>
      </div>
    </div>
</div>
