.save-button {
    background-color: var(--teacher-primary-color);
    border-color: var(--teacher-primary-color);
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.fa-arrow-left, .fa-edit, .fa-times {
    color: var(--primary-red);
}

th {
    background-color: var(--teacher-primary-dark-color);
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.add-student-row {
    background-color: var(--teacher-primary-color) !important;
}

.section-edit {
    width: 100px;
}

#checkMark {
    cursor: pointer;
}

.page-wrap {
    margin: 0;
    height: 100%;
}

form {
    padding-bottom: 3rem;
}

/* button > a {
    color: var(--primary-text-color);
} */

/* button {
    background: var(--primary-student-dark-color);
    border: .5px solid var(--primary-text-color);
} */

hr {
    margin-top: 0;
}

/* .form-wrap {
    background: var(--primary-student-color);
    padding: 1rem;
    border-radius: 8px;
    border: .5px solid var(--primary-text-color);
} */

.field-wrap {
    margin: .5rem 0;
}

.button-wrap {
    margin: 1rem 0 .5rem 0;
}

#login {
    margin-bottom: 3rem;
}

.login-row, .signup-row {
    margin-bottom: 3rem;
}

button.tab {
    width: 80%;
    border-radius: 0px;
}

.form-col {
    padding-top: 1rem;
}

.label{
    width: max-content;
}

.input{
    width:max-content;
}

#sortStudents {
    min-width: 200px;
    width: fit-content;
}