/* class to set graph border curvature */

.graph{
	border-radius: 20px;
}

/* class to create boxed text for stats */

.boxed{
	background-color: #0063A1;
	color: white;
	font-size: 25px;
	border-radius: 20px;
	width: 80%;
	text-align: left;
	padding-left: 40px;
	border: 20px solid #0063A1;
}

/* class allows for standardized button creation*/
/* called in HTML file to create an aesthetic, rounded, teacher-blue button*/
.button {
color: #fff !important;
text-transform: uppercase;
text-align: center;
background: #ffcc00;
padding: 10px;
border-radius: 10px;
display: inline-block;
border: none;
}

/* class allows for the creation of a block button for stand-alone/top buttons*/
.block {
  display: block;
  width: 80%;
}

/* class controls the switch in button color when cursor is hovering over */
.button:hover {
  background: #434343;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.reset {
	font-size: 20px;
}