canvas#world {
  position: relative !important;
}

#rubricgrading {
  background: rgb(237, 202, 48);
  border: 1px solid black;
  font-weight: bold;
  white-space:pre;
}

mat-slider {
  width: 100%;
  color: red;
  background-color: purple;
}

#categoriesAccordian .card-header {
  background-color: var(--primary-student-dark-color);
  color: white;
}

#grading-summary .form-control-plaintext {
  color: white;
}

#feedback-textarea {
  resize: none;
}

#nav-item {
  font: 30px;

}

/* Fullscreen toggling */

#snapframe.fullscreen #snap-canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
#snapframe.fullscreen .snap-fullscreen-toggle {
  right: 0px;
}

.snap-fullscreen-toggle {
  position: absolute;
  display: none;
  z-index: 1001; /* Display over fullscreen iframe */
  height: 30px;
  top: 1px;
  color: black;
  border-radius: 20px;
  right: 5%;
  margin-right: 100px;
}
.snap-fullscreen-toggle.show {
  display: block;
}
.snap-fullscreen-toggle:hover {
  cursor: pointer;
}
