<!-- Standardized header for Snapclass! pages. -->

<div class="row w-100 m-0">
  <div class="header-wrapper py-4 w-100"> 
    <div class="row justify-content-center m-0">
        <div class="col-6">
            <h1> StatSnap!</h1>
            <hr>
        </div>
    </div>
  </div>
</div>


<!-- this section creates and routes the class grade distribution button using the navigate method from the .css file -->

<div class="button_cont" align="center">
  <a class="button block" target="_blank" rel="nofollow noopener" (click) = "navigate(gradedist)">Class Grade Distribution</a>
</div>

<hr>


<!-- this section creates the skill progression scale showing the meanings of each of the colorful icons -->

<div align = "center">
  <h5> Skill Progression Scale: </h5>
  <div>
    <i class="fas fa-angle-double-up scale" style = "color: #4BB543"> High Usage &nbsp; &nbsp; </i> 
    <i class="fas fa-angle-up scale" style = "color: #ffcc00"> Medium Usage &nbsp; &nbsp; </i>
    <i class="fas fa-angle-double-down scale" style = "color: orange"> Low Usage &nbsp; &nbsp; </i>
    <i class="fas fa-grip-lines scale" style = "color: red"> Unused &nbsp; &nbsp; </i>
    <i class="fas fa-plus scale" style = "color: gray"> Not Introduced &nbsp; &nbsp; </i>
  </div>
</div>

<hr>


<!-- Setting the stule for the skills table -->

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{padding:10px 5px;border-style:solid;border-width:4px;overflow:hidden;word-break:normal;border-color:#0063A1;}
.tg th{;font-weight:normal;padding:10px 5px;border-style:solid;border-width:4px;overflow:hidden;word-break:normal;border-color:#0063A1;}
.tg .tg-baqh{text-align:center;vertical-align:center}
</style>


<!-- Creating the table for skills -->

<div align = "center">
  <table class="tg" width = "80%">
    <tr>
      <th class="tg-baqh">Skill</th>
      <th class="tg-baqh">Usage</th>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">White Box Testing</a></td>
      <td class="tg-baqh"><i class="fas fa-grip-lines large_icon" style = "color: red"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">Black Box Testing</a></td>
      <td class="tg-baqh"><i class="fas fa-grip-lines large_icon" style = "color: red"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">Do/While Loops</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-double-down large_icon" style = "color: orange"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">Error Handling</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-double-down large_icon" style = "color: orange"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">While Loops</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-up large_icon" style = "color: #ffcc00"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">Constants</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-up large_icon" style = "color: #ffcc00"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh" (click) = "navigate(variables)"><a class = "button skill">Variables</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-double-up large_icon" style = "color: #4BB543"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">If/Else Statements</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-double-up large_icon" style = "color: #4BB543"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">For Loops</a></td>
      <td class="tg-baqh"><i class="fas fa-angle-double-up large_icon" style = "color: #4BB543"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">Scanner</a></td>
      <td class="tg-baqh"><i class="fas fa-plus large_icon" style = "color: gray"></i></td>
    </tr>
    <tr>
      <td class="tg-baqh"><a class = "button skill">File Input</a></td>
      <td class="tg-baqh"><i class="fas fa-plus large_icon" style = "color: gray"></i></td>
    </tr>
  </table>
</div>

