a {
    color: inherit;
}

#sortAssignments{
    width: auto;
    border-color: #0000007a;
}

#sortBy {
    border-color: #0000007a;
}

.assignments-wrapper {
    padding: 5%;
    background-color: inherit;
    height: 100%;
    text-align: center;
}
.row.bar {
    padding: 1%;
}

.table {
    background-color: inherit;
    height: 100%;
}

select {
    margin: 1%;
    height: 85%;
}

.assignment-button {
    margin-right: 0%;
}

td > a {
    cursor: pointer;
}

td > a:hover {
    color: var(--teacher-primary-dark-color);
}

.progress {
    text-align: center;
}

.progress-bar.zero {
    width: 100%;
    background-color:  inherit;
}
