<ng-template #content let-modal>
  <div class="select-assignment mt-6">
    <div class="modal-header text-center">
      <h5 class="modal-title">Select Assignment to Grade</h5>
    </div>
    <div class="modal-body">
      <div class="container" *ngIf="assignments && assignments.length > 0">
        <div class="assignments-wrapper pre-scrollable" *ngFor="let assignment of assignments">
          <div class="card p-1 mb-2 pointer" (click)="selectAssignment(assignment)"
            *ngIf="!selectedAssignment || assignment.id != selectedAssignment.id">
            <div class="assignment-not-selected-wrapper p-1 card-body">
              <strong class="card-text p-1">{{assignment.name}}</strong>
              <br>
              <small class="card-text p-1 text-muted w-100"
                style="display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{assignment.description}}</small>
              <!-- TODO: Slice should be replaced with an elide... -->
            </div>
          </div>
          <div class="card p-1 mb-2 pointer border border-primary" (click)="selectAssignment(assignment)"
            *ngIf="selectedAssignment && assignment.id == selectedAssignment.id">
            <div class="assignment-selected-wrapper p-1 card-body">
              <strong class="card-text text-primary p-1">{{assignment.name}}</strong>
              <br>
              <small class="card-text p-1 text-muted w-100"
                style="display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{assignment.description}}</small>
              <!-- TODO: Slice should be replaced with an elide... -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" [disabled]="!selectedAssignment"
        (click)="navigate('teacher/grade/assignment/' + selectedAssignment.id); modal.dismiss()">Grade
        Assignment</button>
    </div>
  </div>
</ng-template>

<button class="btn btn-success" (click)="open(content);"><i class="fas fa-check-double fa-lg fa-fw"></i>
  <span class="px-2" *ngIf="navService.navOpen">Grade Now</span>
</button>
