<header class="navbar navbar-expand-lg navbar-light bg-light"
        *ngIf="router.url.includes(teacherLanding) && !router.url.includes(studentLanding)">
  <div class="col-1 wrapper-center" *ngIf="!router.url.includes(teacherLogin)" id="nav-opener" (click)="toggleNav()">
    <i class="fa fa-bars" *ngIf="!navService.navOpen"></i>
    <i class="fa fa-chevron-left" *ngIf="navService.navOpen"></i>
  </div>
  <div class="logo-container p-0 col-5">
    <a><img class="logo h-100" src="/assets/SnapClass_logo.png" (click)="navigateToLanding()"/></a>
  </div>


  <div class="col-2 pr-2">
    <div class="pointer wrapper-center float-right"
         *ngIf="!router.url.includes(teacherLogin) && getTutorialStatus() > 0"
         (click)="setTutorialStatus(0,0); exitTutorial()">
      <i class="fa fa-times pr-0"></i>
      <div class="h4 d-inline-block account py-3 m-0">Exit Tutorial</div>
    </div>
  </div>-
  <div class="col-2 pr-2">
    <div class="pointer wrapper-center" *ngIf="!router.url.includes(teacherLogin)" (click)="navigateToHelp()"
         style="position:relative; left:20%">
      <i class="fa fa-question pr-0"></i>
      <div class="h4 d-inline-block account py-3 m-0">Help</div>
    </div>
  </div>
  <div class="col-2 pr-5">
    <div class="pointer wrapper-center float-right" *ngIf="!router.url.includes(teacherLogin)"
         (click)="navigateToAccount()">
      <i class="fa fa-cogs pr-0"></i>
      <div class="h4 d-inline-block account py-3 m-0">Account</div>
    </div>
  </div>
</header>

