.fa {
    font-size: 48px;
    color: var(--teacher-primary-dark-color);
    padding: 1rem;
}

.wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.account {
    color: var(--teacher-primary-dark-color);
}

#nav-opener {
    cursor: pointer;
}
