img {
  max-width: 100%;
  max-height: 100%;
}

.sidenav {
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background: var(--primary-student-color);
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  text-align: center;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.sidenav a:hover {
  color: var(--primary-student-color) !important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.fa {
  margin-right: -65px;
}

.list-group-item {
  border: 0;
  background: inherit;
}

.nav-header {
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary-text-color);
}
