<ng-template #content let-modal>
    <div class="rubric-selector">
        <div class="modal-header text-center">
            <h5 class="modal-title">Add Rubric to Assignment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container" *ngIf="rubrics && rubrics.length > 0">
          <div class="row justify-content-center py-4">
            <h4>Select a Rubric to Attach to Assignment</h4>
          </div>
          <div class="row mx-4 mb-2 border-bottom">
              <div class="col-6 font-weight-bold">Rubric Name</div>
              <div class="col-6 font-weight-bold">Rubric Description</div>
          </div>
          <div class="rubric-wrapper">
            <div class="row mx-4 pointer" (click)="selectRubric(rubric)" *ngFor="let rubric of rubrics">
              <div class="rubric-not-selected-wrapper py-2 row w-100 m-0" *ngIf="!selectedRubric || rubric.id != selectedRubric.id">
                  <div class="col-6">{{rubric.name}}</div>
                  <div class="col-6">{{rubric.description | slice:0:50}}</div>
              </div>
              <div class="rubric-selected-wrapper font-weight-bold py-2 row w-100 m-0" *ngIf="selectedRubric && rubric.id == selectedRubric.id">
                  <div class="col-6">{{rubric.name}}</div>
                  <div class="col-6">{{rubric.description | slice:0:50}}</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!rubrics || rubrics.length == 0">
          <h4 class="py-4 text-center">No rubrics found</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="useRubric(); setTutorialStatus(getTutorialStatus(),9)" *ngIf="selectedRubric">Next</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">Cancel</button>
        </div>
    </div>
</ng-template>

<div *ngIf="getTutorialStatus() == 2 && getTutorialSubStatus() == 8; else elseBlock" [popper]="p1"
    [popperShowOnStart]="true"
    [popperTrigger]="'none'"
    [popperPlacement]="'left'"

    [popperHideOnClickOutside]="false">
    <popper-content #p1>
            <p><b>Click here to apply your rubric to this assignment!</b> Choose your rubric and select next.</p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="setTutorialStatus(2,9)">Skip </button>
    </popper-content>
    <a class="btn btn-primary text-white" (click)="p1.hide(); open(content)"> Add/Edit Rubric </a>
</div>
<ng-template #elseBlock><a class="btn btn-primary text-white" (click)="open(content)"> Add/Edit Rubric </a></ng-template>