<div ng-app="myApp" id="main-wrapper" class="container-fluid">
  <div class="row vh-100">
    <app-student-navbar
      class="col-2 p-2 vh-100"
      *ngIf="
        router.url.includes(studentLanding) &&
        !router.url.includes(studentLogin)
      "
    ></app-student-navbar>

    <app-navbar
      class="gs-nav-expanded col-2 p-2 vh-100 border-right"
      id="sidenav"
      *ngIf="
        router.url.includes(teacherLanding) &&
        !router.url.includes(teacherLogin)
      "
    ></app-navbar>

    <!--  <app-teacher-header *ngIf="router.url.includes(teacherLanding)"></app-teacher-header>-->
    <!--  <app-student-header *ngIf="router.url.includes(studentLanding)"></app-student-header>-->

    <div class="col vh-100 bg-light overflow-auto">
      <div class="loader" *ngIf="loading">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
    <!--  <app-teacher-footer></app-teacher-footer>-->
  </div>
</div>
