a {
    text-align: center;
    color: var(--secondary-text-color);
    padding-right: 10%; 
    text-decoration: none !important;
    display: block;
    transition: 0.3s;
    padding: 8px 32px 8px 32px;
}

a:hover {
    color: var(--primary-student-dark-color) !important;
    cursor: pointer;
}