.modal {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:998;
    opacity: .5;
}

.backdrop { 
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.modal-title {
    text-align: center;
}

.modal-body {
    height: 300px;
}

.fa-file, .fa-copy {
    font-size: 5rem;
}

.content-border {
    border: 4px solid #dee2e6 !important;
}