<ng-template #content let-modal>
    <form [formGroup]="editCategoryPointsForm" (ngSubmit)="onSubmit()">
        <div class="category-edit" *ngIf="modalView  == 0">
            <div class="modal-header text-center">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="updateCategories(); modal.dismiss()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="category" class="category-container">
                    <div class="field-wrap row">
                        <label class="col-5 text-right">Category Name</label>
                        <input class="col-6" type="text" formControlName="name" autocomplete="off" placeholder="{{category.name}}"/>
                    </div>
                    <div class="field-wrap row pt-3">
                        <label class="col-5 text-right">Learning Objective</label>
                        <textarea rows="3" cols="50" class="col-6 description-box" formControlName="learning_objective" autocomplete="off" placeholder="{{category.learning_objective}}"></textarea>
                    </div>
                </div>
            </div>
            <div class="w-100 alert-response"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="toggleView(1)">Edit Point Descriptions</button>
            </div>
        </div>
        <div class="points-edit" *ngIf="modalView == 1">
            <div class="modal-header text-center">
                <h5 class="modal-title">Edit Point Descriptions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="updateCategories(); modal.dismiss()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pre-scrollable">
                <div id="category" class="category-container">
                    <div class="row mx-4 mb-2 border-bottom">
                        <div class="col-2 font-weight-bold">Points</div>
                        <div class="col-8 font-weight-bold">Reasoning</div>
                    </div>
                    <div class="points-wrapper" >
                        <div class="row mx-4 pointer" formArrayName="pointsArray" *ngFor="let p of editCategoryPointsForm.get('pointsArray').controls; let i = index" >
                            <div class="points-form py-2 row w-100 m-0" [formGroupName]="i">
                                <div class="col-2"><label class="col-5 text-right">{{p.value.points}}</label></div>
                                <div class="col-10"><input class="col-10" type="text" formControlName="description" autocomplete="off" placeholder="{{p.value.description}}"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 alert-response"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss(); setTutorialStatus(getTutorialStatus(),4)">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="updateCategories(); onSubmit(); setTutorialStatus(getTutorialStatus(),5)">Update Point Descriptions</button>
            </div>
        </div>
    </form>
</ng-template>

<button href="javascript:void(0)" *ngIf="getTutorialStatus() == 2; else elseBlock" class="btn btn-secondary" (click)="open(content); setTutorialStatus(2,0)"><i class="fas fa-edit"></i> Edit</button>
<ng-template #elseBlock><button href="javascript:void(0)" (click)="open(content)" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</button></ng-template>
