<div class="teacher-view" *ngIf="rubric">
  <div class="row" *ngIf="!edit">
    <div class="col-12" (click)="toggleEdit()">
      <h1>{{rubric.name}}</h1>
      <hr class="m-0">
      <h4 class="h4">{{rubric.description}}</h4>
  </div>
  <div class="row justify-content-center" *ngIf="edit">
    <form class="col" [formGroup]="rubricForm" (ngSubmit)="editRubric()">
      <div class="row form-group">
        <label class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input type="text" class="form-control" formControlName="name" placeholder="{{rubric.name}}">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-2 col-form-label">Description</label>
        <div class="col-10">
          <input type="text" class="form-control" formControlName="description" placeholder="{{rubric.description}}">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col form-group">
      <div class="float-right px-1">
        <button class="btn btn-primary" *ngIf="!edit" (click)="toggleEdit()">
          <i class="fas fa-edit"></i>
          Edit Rubric
        </button>
      </div>
      <div class="float-right px-1">
        <button class="btn btn-primary" *ngIf="edit" (click)="editRubric()">
          <i class="fas fa-save"></i>
          Save Rubric
        </button>
      </div>
      <div class="float-right px-1">
        <app-add-category [user]="user" [rubric]="rubric" (update)="updateCategoryList()"></app-add-category>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="categoryList.length > 0">
      <div class="card" *ngFor="let category of categoryList; first as isFirst; let i = index">
        <div class="card-header">
          <div class="btn btn-link text-dark" data-toggle="collapse" [attr.data-target]="'#poppers' + i">
            <i class="fas fa-angle-right"></i> {{category.name}}
          </div>
          <div class="float-right px-1">
            <div *ngIf="getTutorialStatus() == 2 && getTutorialSubStatus() == 4 && isFirst" [popper]="p1"
                 [popperShowOnStart]="true"
                 [popperTrigger]="'none'"
                 [popperPlacement]="'left'"

                 [popperHideOnClickOutside]="false">
              <popper-content #p1>
                <p>To add point descriptions, select <b>Edit</b> next to the Category you would like to add
                  descriptions
                  to.</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"
                        (click)="setTutorialStatus(2,5)">Skip
                </button>
              </popper-content>
            </div>
            <app-edit-category [user]="user" [rubric]="rubric" [category]="category"
                               (update)="updateCategoryList()"></app-edit-category>
          </div>
          <div class="float-right px-1" *ngIf="!rubric.is_template">
            <button class="btn btn-danger" (click)="deleteCategory(category.id, i)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </div>
        </div>
        <div id='poppers{{i}}' class="collapse" data-parent="#categoryAccordion">
          <div class="col-10">
            <div class="row">
              <div class="col">{{category.learning_objective}}</div>
            </div>
            <br>
            <div class="col-12">
              <table class="table justify-content-center" id="pointsTable">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Points</th>
                  <th scope="col">Reasoning</th>
                </tr>
                </thead>
                <tbody *ngFor="let points of category.points">
                <tr>
                  <td>{{points.points}}</td>
                  <td (click)="toggleCategoryEdit(category.id)">{{points.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="categoryList.length == 0">
      <div class="h1 text-center">There are no categories here</div>
    </div>
  </div>
</div>
