<!-- signup modal -->
<div
  class="modal fade"
  id="signUpModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-family: Poppins-Regular">
          Sign Up for your Snapclass! Account
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
        <div class="container-contact100">
          <div
            class="wrap-contact100"
            style="text-align: center"
          >
            I am a...
            <div id="buttonsWrapper">
              <button
                id="teacherSelect"
                class="contact100-form-btn"
                (click)="selectTeach()"
              >
                Teacher</button
              ><button
                id="studentSelect"
                class="contact100-form-btn"
                (click)="selectStud()"
              >
                Student
              </button>
            </div>

            <div *ngIf="login === 0"></div>

            <!-- teacher signup form -->
            <form
              (ngSubmit)="onSubmitTeacher()"
              [formGroup]="teacherSignUp"
              class="contact100-form validate-form"
              *ngIf="login === 1"
            >
              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Full Name:<span class="req"> *</span></span
                >
                <input
                  formControlName="name"
                  class="input100"
                  type="text"
                  name="full_name"
                  placeholder="Enter full name"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Username:<span class="req"> *</span></span
                >
                <input
                  formControlName="username"
                  class="input100"
                  type="text"
                  name="username"
                  placeholder="Enter username"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100">Preferred Name:</span>
                <input
                  formControlName="preferred_name"
                  class="input100"
                  type="text"
                  name="preferred_name"
                  placeholder="Enter preferred name"
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Email:<span class="req"> *</span></span
                >
                <input
                  formControlName="email"
                  class="input100"
                  type="text"
                  name="email"
                  placeholder="Enter your email"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Password:<span class="req"> *</span></span
                >
                <input
                  formControlName="pswd"
                  class="input100"
                  type="password"
                  name="password"
                  placeholder="Enter a password"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div id="submitButtonDiv" class="container-contact100-form-btn">
                <button
                  type="submit"
                  id="submitButton"
                  class="contact100-form-btn"
                >
                  <span> Submit </span>
                </button>
              </div>
            </form>

            <!-- student sign up form -->
            <form
              (ngSubmit)="onSubmitStudent()"
              [formGroup]="studentSignUp"
              class="contact100-form validate-form"
              *ngIf="login === 2"
            >
              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Full Name:<span class="req"> *</span></span
                >
                <input
                  formControlName="name"
                  class="input100"
                  type="text"
                  name="full_name"
                  placeholder="Enter full name"
                  required
                />
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Student ID:<span class="req"> *</span></span
                >
                <input
                  formControlName="username"
                  class="input100"
                  type="text"
                  name="student_id"
                  placeholder="Enter Student ID"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100">Preferred Name:</span>
                <input
                  formControlName="preferred_name"
                  class="input100"
                  type="text"
                  name="preferred_name"
                  placeholder="Enter preferred name"
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Email:<span class="req"> *</span></span
                >
                <input
                  formControlName="email"
                  class="input100"
                  type="text"
                  name="email"
                  placeholder="Enter your email"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100">Year of Birth:</span>
                <input
                  formControlName="yob"
                  class="input100"
                  type="number"
                  min="1900"
                  max="2019"
                  placeholder="YYYY"
                  name="year_of_birth"
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Password:<span class="req"> *</span></span
                >
                <input
                  formControlName="pswd"
                  class="input100"
                  type="password"
                  name="password"
                  placeholder="Enter a password"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div id="submitButtonDiv" class="container-contact100-form-btn">
                <button
                  type="submit"
                  id="submitButton"
                  class="contact100-form-btn"
                >
                  <span> Submit </span>
                </button>
              </div>
            </form>
            <div class="alert-response"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- login modal -->

<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-family: Poppins-Regular">
          Login to your SnapClass! Account
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
        <div class="container-contact100">
          <div
            id="outerDelete"
            class="wrap-contact100"
            style="text-align: center"
          >
            I am a...
            <div id="buttonsWrapper">
              <button
                id="teacherLoginButton"
                class="contact100-form-btn"
                (click)="toggleTeach()"
              >
                Teacher</button
              ><button
                id="studentLoginButton"
                class="contact100-form-btn"
                (click)="toggleStud()"
              >
                Student
              </button>
            </div>

            <div *ngIf="toggle === 0"></div>

            <!-- teacher login form -->
            <form
              (ngSubmit)="onLoginSubmit()"
              [formGroup]="loginForm"
              class="contact100-form validate-form"
              *ngIf="toggle === 1"
            >
              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Username:<span class="req"> *</span></span
                >
                <input
                  formControlName="username"
                  class="input100"
                  type="text"
                  name="full_name"
                  placeholder="Enter your username"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Password:<span class="req"> *</span></span
                >
                <input
                  formControlName="pswd"
                  class="input100"
                  type="password"
                  name="password"
                  placeholder="Enter a password"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div
                id="loggingInButtonDiv"
                class="container-contact100-form-btn"
              >
                <button
                  type="submit"
                  id="loggingInButton"
                  class="contact100-form-btn"
                >
                  <span> Login </span>
                </button>
              </div>
            </form>

            <!-- student login form -->
            <form
              (ngSubmit)="onLoginSubmit()"
              [formGroup]="loginForm"
              class="contact100-form validate-form"
              *ngIf="toggle === 2"
            >
              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Student ID:<span class="req"> *</span></span
                >
                <input
                  formControlName="username"
                  class="input100"
                  type="text"
                  name="student_id"
                  placeholder="Enter your Student ID"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input">
                <span class="label-input100"
                  >Password:<span class="req"> *</span></span
                >
                <input
                  formControlName="pswd"
                  class="input100"
                  type="password"
                  name="password"
                  placeholder="Enter a password"
                  required
                />
                <span class="focus-input100"></span>
              </div>

              <div
                id="loggingInButtonDiv"
                class="container-contact100-form-btn"
              >
                <button
                  type="submit"
                  id="loggingInButton"
                  class="contact100-form-btn"
                >
                  <span> Login </span>
                </button>
              </div>
            </form>
            <div class="alert-response"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- non-modal content -->
<div class="noMargin container">
  <div class="row topBar">
    <div class="col-4 h-100" align="center">
      <img class="logo" src="/assets/SnapClass_logo.png" />
    </div>
    <div class="col-4"></div>
    <div
      class="d-flex justify-content-center"
      style="position: relative; left: 12%"
    >
      <button
        class="align-self-center loginButton teacher-login-button"
        type="button"
        data-toggle="modal"
        data-target="#loginModal"
      >
        Login
      </button>
    </div>
    <div
      class="d-flex justify-content-center"
      style="position: relative; left: 15%; font-size: 90%"
    >
      <button
        class="align-self-center loginButton student-login-button"
        type="button"
        data-toggle="modal"
        data-target="#signUpModal"
      >
        Sign Up
      </button>
    </div>
  </div>

  <!-- row 0 -->
  <div class="alternate2">
    <div class="row">
      <div
        class="justify-content-center"
        style="position: relative; left: 29%; padding: 20px"
      >
        <h1 style="text-align: center; font-family: Poppins-Regular">
          Welcome To SnapClass!
        </h1>
      </div>
    </div>

    <div class="row">
      <div style="padding-bottom: 50px; position: relative; left: 27%">
        <img
          style="width: 675px; height: 563"
          src="/assets/grading_image.png"
          alt="grading"
        />
      </div>
    </div>
  </div>

  <!-- row 1 -->
  <div class="alternate1">
    <div class="row infoSection">
      <div
        class="col-4 d-flex justify-content-center"
        style="position: relative; left: 5%"
      >
        Create Classrooms
      </div>
    </div>

    <div class="row infoSection">
      <div
        class="col-4 d-flex justify-content-center"
        style="position: relative; left: 5%"
      >
        <img class="colPic" src="/assets/classroom.png" />
      </div>
      <div class="alternate1Text" style="position: relative; left: 25%">
        You can create classrooms and add students to your roster!
      </div>
    </div>
  </div>

  <!-- row 2 -->
  <div class="alternate2">
    <div class="row infoSection">
      <div
        class="col-4 d-flex justify-content-center"
        style="position: relative; left: 60%"
      >
        Snap<i>! </i> Grading Rubrics
      </div>
    </div>

    <div class="row infoSection">
      <div class="alternate2Text" style="position: relative; left: 2%">
        You are able to develop your own rubrics to grade Snap! assignments.
      </div>

      <div
        class="col-4 d-flex justify-content-center"
        style="position: relative; left: 22%"
      >
        <img class="colPic" src="/assets/rubrics.png" />
      </div>
    </div>
  </div>

  <!-- row 3 -->
  <div class="alternate1">
    <div class="row infoSection">
      <div
        class="col-4 d-flex justify-content-center"
        style="position: relative; left: 5%"
      >
        StatSnap!
      </div>
    </div>

    <div class="row infoSection">
      <div
        class="col-4 d-flex justify-content-center"
        style="position: relative; left: 5%"
      >
        <img class="colPic" src="/assets/statsnap.png" />
      </div>
      <div class="alternate1Text" style="position: relative; left: 25%">
        You can view grading data from your assignments!
      </div>
    </div>
  </div>

  <!-- learn more section -->

  <div class="row learnMore">
    <div class="justify-content-center" style="padding: 10px">
      Learn more<br />
      about<br />
      SnapClass
    </div>
    <div class="justify-content-center" style="padding: 20px">
      <iframe
        src="https://www.youtube.com/embed/USudGgGV2VE"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="height: 300px; width: 400px"
      ></iframe>
    </div>
    <div class="col-2"></div>
  </div>
</div>
