
<ng-template #content let-modal>
    <div class="modal-header text-center">
        <h5 class="modal-title">Change Active Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changeSectionForm" (ngSubmit)="changeSection()">
            <div class="form-group">
                <label for="courseSelect">Select Course:</label>
                <select class="form-control" id="courseSelect" formControlName="course" (change)="getSections($event.target.value)">
                    <option *ngFor="let course of activeSectionService.courseList" value="{{course.id}}" >{{course.name}}</option>
                </select>
                <label for="sectionSelect">Select Section:</label>
                <select class="form-control" id="sectionSelect" formControlName="section">
                    <option *ngFor="let section of sectionList" value="{{section.id}}" >{{section.section_number}}</option>
                </select>
            </div>
            <div align="right">
                <button type="submit" class="btn btn-primary">Update Active Section</button>
            </div>
        </form>
    </div>

</ng-template>
<!--  -->

<div class="section row mx-4 mb-2 py-2 border-bottom justify-content-center">
    <div id="changeSelector" class="section w-100" align="center" (click)="open(content)">
        <div class="w-100" *ngIf="course">{{course.name}} </div>
        <div class="w-100" *ngIf="activeSection">Section {{activeSection.section_number}} </div>
        <div class="w-100" *ngIf="activeSection" (click)="setTutorialStatus(0,0)">(change) </div>
        <div class="w-100" *ngIf="!activeSection">Select Section</div>
        <div *ngIf="getTutorialStatus() == 1 && getTutorialSubStatus() == 6" [popper]="p"
            [popperShowOnStart]="true"
            [popperTrigger]="'none'"
            [popperPlacement]="'bottom'"

            [popperHideOnClickOutside]="false">
            <popper-content #p>
                <p>Click here to change your current section!</p>
            </popper-content>
        </div>

    </div>
</div>
