.right-bar {
    background-color: var(--teacher-primary-dark-color);
}

div > p {
    color: var(--teacher-primary-color);
}

.student-assignments-wrapper {
    height: 100vh;
}

th {
    background-color: var(--primary-student-color);
}

.table thead th {
    text-align: center;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

tr:hover {
    background-color: var(--highlight-selection-color);
}
  
tr {
    cursor: pointer;
}

.assignment-wrapper {
   background-color: var(--background-color);
   color: var(--teacher-primary-dark-color);
   border: 2px solid var(--teacher-primary-dark-color);
}