<nav class="nav flex-column">
  <div class="nav-item align-self-end">
    <button class="btn button-block text-white" (click)="navService.toggleNav()">
      <i class="fa fa-bars fa-lg fa-fw"></i>
    </button>
  </div>
</nav>
<div class="dropdown-divider"></div>
<nav class="nav flex-column">
  <div class="nav-item">
    <a class="nav-link" (click)="navigate(teacherCourses)"> <i class="fas fa-school fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Courses</span>
    </a>
  </div>
  <div class="nav-item">
    <a class="nav-link" (click)="navigate('/teacher/section/management')"> <i class="fas fa-users fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Section Roster</span>
    </a>
  </div>
  <div class="nav-item">
    <a class="nav-link" (click)="navigate('/teacher/section/management')"> <i class="fas fa-hand-paper fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Help Portal</span>
    </a>
  </div>
</nav>
<div class="dropdown-divider"></div>
<nav class="nav flex-column">
  <div class="nav-item">
    <a class="nav-link" (click)="navigate(gradebook)"> <i class="fas fa-book fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Gradebook</span>
    </a>
  </div>
  <div class="nav-item">
    <a class="nav-link" (click)="navigate(teacherAssignments)"> <i class="fas fa-file-alt fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Assignments</span>
    </a>
  </div>
  <div class="nav-item">
    <a class="nav-link" (click)="navigate(teacherRubricManagement)"> <i class="fas fa-table fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Rubrics</span>
    </a>
  </div>
</nav>
<div class="dropdown-divider"></div>
<div class="text-center">
  <app-select-assignment-to-grade></app-select-assignment-to-grade>
</div>
<nav class="nav flex-column fixed-bottom p-2 col-2">
  <div class="nav-item">
    <a class="nav-link" (click)="navigate(teacherAccount)"> <i class="fas fa-user-circle fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">My Account</span>
    </a>
  </div>
  <div class="nav-item">
    <a class="nav-link" (click)="logout()"> <i class="fas fa-sign-out-alt fa-lg fa-fw"></i>
      <span class="px-2" *ngIf="navService.navOpen">Logout</span>
    </a>
  </div>
</nav>

<!--<div id="sidenav" class="sidenav" *ngIf="!router.url.includes(studentLanding)">-->
<!--    <nav class="w-100 pt-2">-->
<!--&lt;!&ndash;      <div class="col-1 wrapper-center" *ngIf="!router.url.includes(teacherLogin)" id="nav-opener" (click)="toggleNav()">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-bars" *ngIf="!navService.navOpen"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-chevron-left" *ngIf="navService.navOpen"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--        <app-active-section></app-active-section>-->
<!--        <ul class= "list-group list-group-flush" style="list-style-type:none;" >-->
<!--            <li class="list-group-item" *ngIf="user" (click)="navigate(teacherLanding)"><a>Welcome {{user.preferred_name}}!</a></li>-->
<!--            <div class="text-center pt-4 font-weight-bold nav-header">Course Management</div>-->
<!--            <li class="list-group-item" *ngIf="activeSection" (click)="navigate('/teacher/section/management')"><a><i class="fa fa-users" aria-hidden="true"></i> Section Roster </a></li>-->
<!--            <li class="list-group-item" (click)="navigate(teacherCourses)"><a> <i class="fas fa-school"></i> View Courses </a></li>-->
<!--            <div class="text-center pt-4 font-weight-bold nav-header">Assignment Management</div>-->

<!--            <div *ngIf="getTutorialStatus() == 2 && getTutorialSubStatus() == 5; else elseBlock1" [popper]="p1"-->
<!--                [popperShowOnStart]="true"-->
<!--                [popperTrigger]="'none'"-->
<!--                [popperPlacement]="'bottom'"-->

<!--                [popperHideOnClickOutside]="false">-->
<!--                <popper-content #p1>-->
<!--                        <p>Now that you have created your rubric, let's make an assignment!</p>-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="setTutorialStatus(0,0)">Skip Assignment Management</button>-->
<!--                </popper-content>-->
<!--                <li class="list-group-item" (click)="navigate(teacherAssignments); setTutorialStatus(2,6)"><a> <i class="fas fa-file-alt"></i> Assignments </a></li>-->
<!--            </div>-->
<!--            <ng-template #elseBlock1><li class="list-group-item" (click)="navigate(teacherAssignments)"><a><i class="fas fa-file-alt"></i> Assignments </a></li></ng-template>-->

<!--            <div *ngIf="getTutorialStatus() == 1 && getTutorialSubStatus() == 5; else elseBlock2" [popper]="p2"-->
<!--                [popperShowOnStart]="true"-->
<!--                [popperTrigger]="'none'"-->
<!--                [popperPlacement]="'bottom'"-->

<!--                [popperHideOnClickOutside]="false">-->
<!--                <popper-content #p2>-->
<!--                        <p>Now that you have added your course and students, let's make a rubric!</p>-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="setTutorialStatus(2,5)">Skip Rubric Management</button>-->
<!--                </popper-content>-->
<!--                <li class="list-group-item" (click)="navigate(teacherRubricManagement); setTutorialStatus(2,1)"><a><i class="fas fa-list-ul"></i> Rubrics </a></li>-->
<!--            </div>-->
<!--            <ng-template #elseBlock2><li class="list-group-item" (click)="navigate(teacherRubricManagement)"><a><i class="fas fa-list-ul"></i> Rubrics </a></li></ng-template>-->

<!--            <div class="text-center pt-4 font-weight-bold nav-header">Grade Management</div>-->
<!--            <li class="list-group-item"><app-select-assignment-to-grade></app-select-assignment-to-grade></li>-->
<!--            <li class="list-group-item" (click)="navigate(gradebook)"><a> <i class="fas fa-book"></i> Gradebook </a></li>-->
<!--            <li class = "list-group-item" (click) = "navigate(statsnap)"><a><i class = "fas fa-chart-line"></i> StatSnap! </a></li>-->
<!--            <div class="text-center pt-4 font-weight-bold nav-header">Account Management</div>-->
<!--            <li class="list-group-item" (click)="navigate(teacherAccount)"><a> <i class="fas fa-user-circle"></i> My Account </a></li>-->

<!--            <div *ngIf="getTutorialStatus() == 2 && getTutorialSubStatus() == 10; else elseBlock3" [popper]="p3"-->
<!--                [popperShowOnStart]="true"-->
<!--                [popperTrigger]="'none'"-->
<!--                [popperPlacement]="'top'"-->

<!--                [popperHideOnClickOutside]="false">-->
<!--                <popper-content #p3>-->
<!--                        <p style="height: 30px">To <b>logout</b>, click here. You have completed the tutorial!</p>-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="setTutorialStatus(0,0); navigate(teacherLanding); exitTutorial()">End Tutorial and Return to Home</button>-->
<!--                </popper-content>-->
<!--                <li class="list-group-item" (click)="logout()"><a><i class="fas fa-sign-out-alt"></i> Logout </a></li>-->
<!--            </div>-->
<!--            <ng-template #elseBlock3><li class="list-group-item" (click)="logout()"><a><i class="fas fa-sign-out-alt"></i> Logout </a></li></ng-template>-->

<!--            <div>-->
<!--                    <li class="list-group-item pt-4" (click)="navigate(teacherHelpDash)"><a><i class="fas fa-question"></i> Help </a> </li>-->
<!--            </div>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->
