form {
    padding-bottom: 3rem;
}

button > a {
    color: var(--secondary-text-color);
}

button {
    background: var(--teacher-primary-dark-color);
    border: .5px solid var(--primary-text-color);
}

hr {
    margin-top: 0;
}

.form-wrap {
    background: var(--teacher-primary-color);
    padding: 1rem;
    border-radius: 5px;
    border: .5px solid var(--primary-text-color);
    color: var(--secondary-text-color);    
}

.field-wrap {
    margin: .5rem 0;
}

.button-wrap {
    margin: 1rem 0 .5rem 0;
}

#login {
    margin-bottom: 3rem;
}

.login-row, .signup-row {
    margin-bottom: 3rem;
}

button.tab {
    width: 80%;
    border-radius: 0px;
}

.nav {
    background: var(--teacher-primary-dark-color);
}

.form-col {
    padding-top: 1rem;
}

