@-webkit-keyframes delete {
    from {
        height: 90px;
    } to {
        height: 0px;
    }
}
@keyframes delete {
    from {
        height: 90px;
    } to {
        height: 0px;
    }
}
 
.panel-content {
    background-color: #fff;
}

.section-button {
    background-color: var(--primary-student-dark-color);
    border-color: var(--primary-student-dark-color);
}

.course-button {
    margin-right: 0%;
}

select {
    height: 85%;
}

.deleted {
    overflow: hidden;
}

#sortBy {
    border-color: #0000007a;
}

.rightAlign {
    text-align: right;
}
