<div class="student-view">
  <div class="row m-0">
      <div class="w-100 form-col">
          <div class="tab-content pt-3">
            <div id="student-landing w-100">
              <div class="container">
                <h1 class="course-header font-weight-bold">Courses</h1>
                <hr/>
              </div>
              <div class="row pt-4 student-courses-wrapper mb-5">
                <div class="container">
                    <div class="row w-100 justify-content-center" *ngIf="courses">
                      <div class="mx-4 mb-4 bg-white course-content" *ngFor="let course of courses">
                        <div class="bg-white">
                          <div class="row course-name m-0 justify-content-center h3 py-2">{{course.name}}</div>
                          <hr class="mt-0 border">
                          <div class="row section-number m-0 justify-content-center py-1"><p class="m-0 mr-1 font-weight-bold course-label">Title:</p> {{course.description}}</div>
                          <div class="row section-number m-0 justify-content-center py-1"><p class="m-0 mr-1 font-weight-bold course-label">Section:</p> {{course.section_number}}</div>
                          <div class="row teacher-name m-0 justify-content-center py-1"><p class="m-0 mr-1 font-weight-bold course-label">Instructor:</p> {{course.preferred_name}}</div>
                          <button class="button button-block w-100 mt-2 rounded-0" (click)="goToCourse(course.section_id)">Go to Course</button>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="row py-5 student-assignments-wrapper bg-white m-0 mx-5 h-100">
                <div class="container">
                    <h1 class="assignment-header font-weight-bold">Upcoming Assignments</h1>
                    <div class="row w-100 px-5 pt-1">
                        <table class="w-100"> 
                            <tr>
                              <th class="text-white h2 text-center">Course</th>
                              <th class="text-white h2 text-center">Assignment</th>
                              <th class="text-white h2 text-center">Deadline</th> 
                              <th class="text-white h2 text-center">Action</th>
                            </tr>
                            <tr *ngFor="let assignment of assignments">
                                <td class="h4 text-center">{{ assignment.course_name }}</td>
                                <td class="h4 text-center">{{ assignment.name }}</td>
                                <td class="h4 text-center">{{ assignment.due_date | date:'medium' }}</td>
                                <td class="h4 text-center"><a href="/student/assignment/{{assignment.id}}">View</a></td>
                            </tr>
                          </table>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>
