.course-header, .course-label {
    color: var(--teacher-primary-color);
}

.course-content {
    width: 300px;
}

.student-assignments-wrapper {
    height: 100vh;
}

th {
    background-color: var(--primary-student-color);
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
  
table tr:nth-child(even) {
    background-color: #ffffff;
}

a:hover {
    text-decoration: none;
}