<div class="teacher-view ">
  <div class="row justify-content-center">
    <div class="col-12 alert-response"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>Rubrics</h1>
      <hr class="m-0">
    </div>
  </div>
  <div class="row">
    <form class="col-3 form-inline" [formGroup]="sortForm">
      <div class="row form-group">
        <label class="col" for="sortBy">Filter</label>
        <div class="col">
          <select id="sortBy" class="form-control" formControlName="sort">
            <option value="0">My Rubrics</option>
            <option value="1">Templates</option>
            <option value="2" selected>All</option>
          </select>
        </div>
      </div>
    </form>
    <div class="col">
      <app-add-rubric class="float-right" [user]="user"
                      (update)="updateRubricList(); setTutorialStatus(getTutorialStatus(), getTutorialSubStatus())"></app-add-rubric>
    </div>
  </div>
  <div class="row" *ngIf="viewRubrics.length > 0">
    <div *ngIf="getTutorialStatus() == 2 && getTutorialSubStatus() == 2" [popper]="pman"
         [popperShowOnStart]="true"
         [popperTrigger]="'none'"
         [popperPlacement]="'top'"
         [popperHideOnClickOutside]="false">
      <popper-content #pman>
        <p style="width: 250px">
          You made your rubric! To edit the rubric <b>click "Edit" next to the rubric that you
          would like to edit.</b>
        </p>
      </popper-content>
    </div>
    <div id="rubricAccordion" class="col-12" *ngIf="viewRubrics.length > 0">
      <div class="card" *ngFor="let rubric of viewRubrics; let i = index">
        <div class="card-header">
          <a class="btn btn-link text-dark" data-toggle="collapse" href="#rubricCard{{i}}">
            <i class="fas fa-angle-right"></i> {{rubric.name}}
          </a>
          <div class="d-inline-block float-right px-1" *ngIf="!rubric.is_template">
            <button class="btn btn-secondary"
                    (click)="navigate('/teacher/rubric/' + rubric.id); setTutorialStatus(getTutorialStatus(), 3)">
              <i class="fas fa-edit"></i> Edit
            </button>
          </div>
          <div class="d-inline-block float-right px-1" *ngIf="!rubric.is_template">
            <button class="btn btn-danger" (click)="deleteRubric(rubric.id, i)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </div>
        </div>
        <div id="rubricCard{{i}}" class="collapse card-body">
          <div class="row">
            <div class="col">Description: {{rubric.description}}</div>
          </div>
          <div class="row" *ngIf="rubric.categories">
            <div class="col">Categories: {{formatNames(rubric.categories)}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="viewRubrics.length == 0">
      <h1 class="h1 text-center">There are no rubrics here</h1>
    </div>
  </div>
</div>
