<div class="teacher-view">


  <div *ngIf="sectionService.activeSection; else elseBlock">


    <!-- this is the display courses part of the landing page -->
    <div>

      <div class="row">
        <div class="col-12">
          <h1>Home</h1>
          <hr class="m-0">
        </div>
      </div>


      <div class="row w-100 m-0">
        <div class="header-wrapper py-4 w-100 m-0 row justify-content-center">

          <div class="col-10" align="center">
            <h1 style="font-family:Poppins-Regular">My Courses</h1>
            <hr>
          </div>
        </div>
      </div>


      <div class="content mx-5 bg-white pb-5">

        <div class="row bar bg-white pt-5 w-100 m-0">
          <!-- <div class="w-100 alert-response"></div> -->
          <div class="col-6"></div>
        </div>


        <div class="courses-wrapper bg-white pt-4" *ngIf="viewCourses.length > 0">
          <!-- <div class="w-100 alert-response"></div> -->


          <!-- added collapse animation -->

          <div class="animated fadeInUp accordion-wrapper row justify-content-center" id="courseAccordion"
               *ngFor="let course of viewCourses; let i = index">
            <button id='{{"button" + i}}'
                    class="align-items-center accordion col-10 row w-100 border border-light rounded-0 p-3 collapsed"
                    data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#' + 'popping' + i">
              <div class="d-inline-block text-left text-white col-4 p-0 h1 m-0">{{course.name}}</div>
              <div class="d-inline-block col-2"></div>
              <div class="d-inline-block col-2 p-0" *ngIf="status != courseStatus.Active"></div>
              <div class="d-inline-block col-2 p-0" *ngIf="status != courseStatus.Active"></div>
            </button>

            <!-- this part is the sections display for each course. the add accordion method will set the display of the below div to display: flex -->
            <div id='{{"popping" + i}}' class="collapse panel row justify-content-center"
                 data-parent="#courseAccordion">
              <div class="col-10 p-4 border border-light panel-content">
                <div class="section-wrapper" *ngFor="let section of sections[course.id]; first as isFirst">
                  <div class="row m-0">
                    <div class="col-sm h4">Section {{section.section_number}}</div>
                    <div class="col-sm d-inline-block p-0 rightAlign" *ngIf="status == courseStatus.Active"><a
                      href="javascript:void(0)" (click)="changeSection(section)" class="font-weight-bold">View
                      Assignments</a></div>
                    <div class="col-sm d-inline-block p-0 rightAlign" *ngIf="status == courseStatus.Active"><a
                      href="javascript:void(0)" (click)="navigate('/teacher/section/' + section.id + '/management')"
                      class="font-weight-bold">Manage Section</a></div>
                  </div>


                  <hr class="mt-0">
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="courses-wrapper w-100 bg-white pt-3" *ngIf="viewCourses.length == 0">
          <div class="h1 text-center">You have no {{courseStatus[status]}} Courses</div>
        </div>
      </div>
    </div>

    <br/>

    <div *ngIf="currentCourse" class="row justify-content-center">
      <div class="col-6" align="center">
        <h1 style="font-family:Poppins-Regular">At A Glance </h1>
        <hr class="mt-0">
      </div>
    </div>

    <div class="row mx-5 bg-white">
      <div class="panel col-12" style="width:300%">
        <table class="table" id="assignmentsTable">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Due Date</th>
            <th scope="col">Courses</th>
            <th scope="col">Submissions</th>

          </tr>
          </thead>
          <tbody *ngFor="let assignment of assignmentList; let i = index">
          <tr>
            <td scope="row"><a (click)="navigate('teacher/assignments/' + assignment.id)">{{assignment.name}}</a></td>
            <td>{{assignment.due_date | date: 'shortDate'}}</td>
            <td>
              <div *ngFor="let obj of assignmentListBySection[assignment.id]">  {{sectionsCopy[obj.id].name}}
                -{{obj.section_number}} </div>
            </td>
            <td
              *ngIf="numSubmissionsByAssignmentId[assignment.id] !== undefined"> {{numSubmissionsByAssignmentId[assignment.id]}}
              / {{numStudentsByAssignmentId[assignment.id]}} </td>
            <td *ngIf="numSubmissionsByAssignmentId[assignment.id] === undefined"> 0
              / {{numStudentsByAssignmentId[assignment.id]}} </td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>


  </div>


  <ng-template #elseBlock>
    <div *ngIf="!currentCourse" class="row justify-content-center">
      <div class="col-10" align="center">
        <div class="courseTitle">Welcome to SnapClass!</div>
        <hr class="mt-0">
      </div>
    </div>

    <div class="row mx-5 bg-white">
      <div class="col-1"></div>
      <div class="col-sm-3" align="center">
        <div class="row panel d-flex justify-content-center">
          <app-tutorial-start></app-tutorial-start>
        </div>
      </div>
      <div class="col-sm-4" align="center">
        <div class="row panel d-flex justify-content-center">
          <iframe src="https://www.youtube.com/embed/rAt1vxwQG9c" frameborder="0"
                  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-3" align="center">
        <div class="row panel d-flex justify-content-center">
          <button class="btn btn-lg btn-primary" (click)="navigate('/teacher/courses')"> Make your first Course!
          </button>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </ng-template>


</div>
<br/>
