.noMargin {
    height: 100% ! important;
    max-width: 100% ! important;
    margin:0 ! important;
    padding:0 ! important;
}

.btn-start {
    width: 100%;
}

.courseTitle {
    font-size:50pt;
}

.panel {
    background-color: var(--secondary-text-color);
    border: 0;
    border-radius: 15px;
    padding: .5rem 1rem;
    /* min-width:100px; */
    /* min-height: 300px;
    overflow: hidden; */
    margin-top:20px;
    margin-bottom:20px;
    width: 95%;
}

table {
    background-color: var(--secondary-text-color);
}

tr {
    background: inherit;
}

td, th {
    font-size: 20px;
    text-align: center;
}

.wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.manage {
    color: var(--primary-red);
}

.fa {
    font-size: 48px;
    color: var(--primary-red);
    padding: 1rem;
}

td > a {
    cursor: pointer;
}

td > a:hover {
    color: var(--teacher-primary-dark-color);
}
.user-pdf {
    height: 80vh;
}

.btn-primary {
    font-size: 30px;
    width: auto;
}



/* imported from teacher-courses */
@-webkit-keyframes delete {
    from {
        height: 90px;
    } to {
        height: 0px;
    }
}
@keyframes delete {
    from {
        height: 90px;
    } to {
        height: 0px;
    }
}


.panel-content {
    background-color: #fff;
}

.section-button {
    background-color: var(--primary-student-dark-color);
    border-color: var(--primary-student-dark-color);
}

.course-button {
    margin-right: 0%;
}

select {
    height: 85%;
}

.deleted {
    overflow: hidden;
}

.rightAlign {
    text-align: right;
}

#sortBy {
    border-color: #0000007a;
}
